@import '../__variables/variables.scss';

.question {
  padding: 35px 45px 25px;

  .question__category {
    font-size: 2.5rem;
    line-height: 3rem;
    text-align: center;
  }

  .question__number {
    font-size: 2.2rem;
    line-height: 2.7rem;
    text-align: center;
    margin-top: 14px;
  }
  
  .question__container {
    margin: 80px auto 60px;
    width: 80%;
    padding: 20px;
    border: 1px solid black;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    display: flex;
    flex-direction: column;
    align-items: center;


    .question__title {
      font-size: 2rem;
      line-height: 2.5rem;
      text-align: center;
      color: $question-color;
      margin-top: 25px;
    }    

    .question__answers {
      margin: 80px auto;
      display: flex;
      justify-content: space-between;      
      width: 60%;          
    }

    .question__answers_checkbox {
      width: 95%;
      justify-content: space-around;
    }

    .question__input {      
      display: none;
    }

    .question__input-label {
      display: inline-block;
      font-size: 1.5rem;
      line-height: 1.9rem;
      opacity: 0.7;
      color: $question-color;
      transition: 0.5s;           

      &:hover {
        opacity: 1;
        cursor: pointer;
      }      
    }

    .question__input:checked + .question__input-label {
      color: #63b85c;
    }

    .question__button {
        width: 170px;
        height: 65px;
        background-color: transparent;
        border: 1px solid $question-color;
        margin-top: 20px;
        cursor: pointer;
        opacity: 0.7;
        font-size: 1.1rem;
        line-height: 1.6rem;
        color: $question-color;
        transition: 0.4s;

        &:hover {
          opacity: 1;
          background-color: $question-color;
          color: #f0fcfc;          
        }
        
        &:active {
          background-color: #5179e0;
        }
    }
  }

  
}