@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import "~normalize.css";
@import './page/page.scss';
@import './header/header.scss';
@import './question/question.scss';
@import './footer/footer.scss';


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
}

body {  
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  color: #524e4e;
  background-color: #f7f7f7;    
}